<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <title>
        Property Management System
    </title>
<header>
    <h1>
        55 Lexington Avenue Condominiums
    </h1>
    <h3>
        Package & Maintenance Tracking System
    </h3>
    <hr>
<ul style = "display:inline-block; list-style: none;">
    <li style="float:left; margin:.12em"><a href="#" style="text-decoration: none;"><strong>Home</strong></a></li>
    <li style="float:left; margin:.12em"><a href="#" style="text-decoration: none;"><strong>Packages</strong></a></li>
    <li style="float:left; margin:.12em"><a href="#" style="text-decoration: none;"><strong>Maintenance</strong></a></li>
    <li style="float:left; margin:.12em"><a href="#" style="text-decoration: none;"><strong>Directory</strong></a></li>
</ul>
<hr>
</header>
<body>
{% block main %}
{% endblock %}

</body>
</html>